body {
  font-family: 'Cantarell', sans-serif;
}

.menu li {
  display: inline;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}

.menu {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}

.menu li a {
  padding: 4px 20px ;
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

.menu li a:hover, .menu li a:focus, .menu li a:active {
  background: #900 ;
  text-decoration: underline ;
}

form {
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form label {
  display: inline-flex;
  width: 150px;
}

.form_register input, textarea {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
}
